<p>Edit this file</p>

<form action="/obituaries/{{this._id}}/edit" method="post">
    <label for="First Name">
        <input name="firstName" type="text" value="{{this.firstName}}">
    </label>
    <label for="Last Name">
        <input name="lastName" type="text" value="{{this.lastName}}">
    </label>
    <label for="causeOfDeath">
        <input name="causeOfDeath" type="text" value="{{this.causeOfDeath}}">
    </label>
    <label for="floridaMan">
        <input name="floridaMan" type="checkbox" value="{{this.floridaMan}}">
    </label>
    <label for="photoUrl">
            <input name="photoUrl" type="text" value="{{this.photoUrl}}">
    </label>
    <button type="submit">Submit</button>

</form>

<a href="{{this.id}}/delete">Delete this page from the board</a>