<div class="container green center">

<h2>All Posts</h2>

<p>All obituaries below are not real and have been generated through this site's user community. Right now that's just me.</p>

<div class="library">
    {{#each allObits}}
    <div class="obit column">
        <div class="obit-header">
            <img src="{{this.photoUrl}}" alt="Image could not be found" class="obit-img"/>
            <div class="column">
                <h2>Rest in Peace</h3>
                <p>{{this.firstName}} {{this.lastName}}</p>
            </div>
        </div>
            <p>It is with a heavy heart we share we have lost {{this.firstName}} to {{this.causeOfDeath}}.</p>

            {{#if this.floridaManSlug}}
            <p>Unfortunately, you may have heard about it on the news: <a href="{{this.floridaManUrl}}">{{this.floridaManSlug}}</a></p>
        
            {{/if}}
        <p>Some of their recent accomplishments include {{this.accomplishments}}.</p> 
        <p class="tiny-text">Created on {{this.createdAt}}</p>
        <a href="/obituaries/{{this._id}}" class="button black padding-large large margin-top">View</a>
    </div>
    {{/each}}
</div>
</div>