<h2>Complete Board</h2>

{{#each allObits}}
<div>
  <p>Rest in Peace {{this.firstName}} {{this.lastName}}</p>
<p>{{this.floridaMan}}</p>
<p>Some of their accomplishments include {{this.accomplishments}}</p>   
</div>
 {{#if globalUser}}
<div>
  <a href="/{{this._id}}/edit">Edit Post</a>
  <a href="/{{this._id}}/delete">Delete Post</a>
</div>
{{/if}}
<p>Created on {{this.timestamp}} | {{#if this.edittedByAdmin}} Post has been editted by an Admin {{/if}}</p>
{{/each}} 