<h1>Heading</h1>
<img src="{{this.photoUrl}}" alt="Image could not be found"/>
<p>Rest in Peace {{this.firstName}} {{this.lastName}}</p>
<p>Death came unexpectedly via {{this.causeOfDeath}}</p>
<p><a href="{{this.floridaManUrl}}">{{this.floridaManSlug}}</a></p>
<p>Some of their accomplishments include {{this.accomplishments}}</p> 